.main-container{
    display: grid;
    margin: auto;
    grid-template-columns: 20% 60% 20%;
    width: 90%;
    justify-content: center;
    height: 660px;
    gap: 10px;
}
.main-container > div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.side-nav{
   text-align: center;
   height: auto;
}
.side-nav h1{
    font-size: 11px;
    color: #333333;
    margin-left: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.side-nav div{
    display: flex;
}
.side-nav div img{
    width: 30%;
    height: 20%;
    border-radius: 50%;
}